################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.DataGeneratorAndSorter/.idea
/.idea/.idea.DataGeneratorAndSorter
/.vs
/DataGenerator/bin/Debug/net6.0
/DataGenerator/obj
/DataGenerator.Test/bin/Debug/net6.0
/DataGenerator.Test/obj
/DataSorter/bin/Debug/net6.0
/DataSorter/obj
/DataGenerator.Test/bin/Release/net6.0
/DataSorter/bin/Release/net6.0
/DataGenerator/bin/Release/net6.0
